# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
eggs/
lib/
libs/
bin/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# MySQL
*.pem

# OS files
.DS_Store
Thumbs.db
